body {
    margin: 0;
    background: white;
}
.app {
    min-height: 100vh;
    background: white;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
.head {
    width: 100%;
    color: white;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    height: 80px;
    overflow: hidden;
}
.body {
    height: calc(100vh - 80px);
}